.bar{
    background-color:bisque;
  }
  /* .dropdown {
    position: relative;
    display: inline-block;
  } */
  .search1{
    height:50px;
    width:600px;
    font-size:25px;
    /* border-radius:10px; */
    padding-bottom: 10px;
  }
  .homebutton1{
    padding-top:30px;
  }
  
  
  
  
  
  /* #ulis {
    list-style-type: none;
    margin-left: -20px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #lis {
    float: left;
  }
  li.dropdown {
    display: inline-block;
  }
  
  li .ha ,.dropdown:hover .dropbtn{
    display: block;
    color: white;
    font-size:20px;
    text-align: center;
    padding: 28px 60px;
    text-decoration: none;
  }
  li .ha1 ,.dropdown:hover .dropbtn{
    display: block;
    color: white;
    font-size:20px;
    text-align: center;
    padding: 28px 60px;
    text-decoration: none;
  }
  
  li .ha:hover:not(.active) {
    background-color: #ff3a3a;
  }
  
  #hactive {
    background-color: #04AA6D;
  }
  
  
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } */
  
  /* #hactive {
    background-color: #04AA6D;
  }
  
  #avatar{
    margin-top:-18px;
  }
  
  #ulis {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #lis {
    float: left;
  }
  
  li .ha, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    font-size:18px;
    font-weight:bold;
    padding: 16px 60px;
    text-decoration: none;
  }
  
  li .ha:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f3a200;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
   */
  
  
  .log {
    position: relative;
    display: inline-block;
  }
  
  .log-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    height:100px;
    width:100px;
    margin-right:500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .log:hover .log-content {
    display: block;
  }
  .profile{
    margin-left:0px;
  }
  #dt{
    color:black;
    font-size:20px;
  
  }
  #bs{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    height:50px;
  }
  #dtl{
    background-color:red;
    height:20px;
    width:100px;
    margin-left:3px;
  }
  #home{
    padding-top:0px;
    margin-left:50px;
    color:rgb(0, 0, 0);
  }
  #nt{
    padding-top:3px;
    padding-left:6px;
    font-size:25px;
    
    /* background-color:blue; */
    color:rgb(204, 110, 110);
    font-weight:bold;
  }
  .sch1{
   
    margin-top:52px;
  
  }
  #bbox{
    /* height:1700px;
    width:850px;
    margin-left:330px;
    border: none; */
    width: 100%;
    margin: auto;
    margin-top:30px;
    max-width: 900px;
    min-height: 1700px;
    position: relative;
    /* border:2px solid black; */
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    background-color: rgb(255, 255, 255);
    /* display:grid;
    grid-template-columns:auto auto;
    grid-gap:2px;
    margin:0 auto;
    position:relative; */
  }
  .fruits{
    padding-top:250px;
    color:black;
    font-size:20px;
    font-weight:bold;
  }

  #title{
    /* margin-top:30px; */
    font-size:25px;
    color:#000;
    font-weight:bold;
  }
  .bb1{
    width:350px;
    height:452px;
    background-color:white;
    /* border:2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    float:left;
    margin-top:40px;
    margin-left:50px;
  }
  .bib1{
    width:345px;
    height:300px;
  }
  #bho button {
    border: none;
    outline: 0;
    padding: 20px;
    color: white;
    background-color: #0011ff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  #bho button:hover {
    opacity: 0.7;
  }









    

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

#bcurrent{
  text-decoration:underline;
}


.bcontainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.bnavbar {
  height: 60px;
  background-color: #fef7e5;
  position: relative;
}



.bmenu-icon {
  display: none;
}

.bnav-elements {
}

.bnav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.bnav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.bnav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.bnav-elements ul a.bactive {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.bnav-elements ul a.bactive::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .bnav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .bmenu-icon {
    display: block;
    cursor: pointer;
  }

  .bnav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .bnav-elements.bactive {
    width: 270px;
  }

  .bnav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .bnav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}